/* GLOBAL */

h1{
    color: #fff;
    font-size: 100px;
    text-align: center;
    margin-top: 10px;
}

footer {
    bottom: 0;
    left: 10px;
    color: #fff;
    text-align: left;
    margin: 0; 
    padding: 20px; 
}

/* SECTIONS */

#section1 {
    padding-top:50px;
    height:500px;
    color: #fff; 
    background-color: #483a5e;
}

#section2 {
    padding-top:50px;
    height:500px;
    color: #fff; 
    background-color: #608a9a;
}

#section3 {
    padding-top:50px;
    height:500px;
    color: #fff; 
    background-color: #8c5c86;
}

/* IMAGES */

#text3{
    width: auto;  
    height: 300px;    
    border-radius: 20px;
    margin-left: 60%;
    margin-top: -175px; 
}

#big{
    width: auto;  
    height: 300px;    
    border-radius: 20px;
    margin-left: 5%;
    margin-top: -190px;  
}

/* WORDS */

#slogan{
    color: #8c5c86;
    text-align: center;
    margin-top: 10px;
}

#welcomeMessage{
    font-size: 50px;
    padding: 10px;
}

#sectionTwoP{
    font-size: 20px;
    padding: 5px;
}

#sectionThreeP{
    text-align: right;
    margin-top: 10%;
    font-size: 20px;
    padding: 5px;
}

/* BUTTON */

.btn-default{
    margin-top: 0%;
    margin-left: 90%;
    background-color: #98d2d4;
    border-color: #98d2d4;
    color: #fff;

}