/* GLOBAL */
#body{
    background-color: #483a5e;
}
section{
    max-width: 100%;
    max-height: 100%;
}

/* user box */

#user-container{
    border: 3px solid #483a5e;
    border-radius: 2%;
    height: 10%;
    margin: 10px;
}

#user-button{
    background-color: #FFF;
    color: black;
    border: 3px solid  #483a5e;
}

#user-image{
    max-width: 70px;
    max-height: 70px;
    min-height: 50px;
    min-height: 50px;
    border: 3px solid #483a5e;
    margin: 3px;
}
#user-buttons{
    margin-left: 28%;
    margin-bottom: 5px;
}

/* create group modal */

#modal-close-btn{
    background-color: #FFF;
    color: black;
    border: 3px solid  #483a5e;
}

#modal-create-group-btn{
    background-color: #FFF;
    color: black;
    border: 3px solid  #483a5e;
}

#modal-whole{
    border: 5px solid #483a5e;
    border-radius: 2%;
}
#modal-header{
    border-bottom: 5px solid #483a5e;
}
#modal-footer{
    border-top: 5px solid #483a5e;
}

/* groups box */

#groups-container{
    border: 3px solid #483a5e;
    border-radius: 1%;
    height: 85%;
    width: 95%;
    margin: 10px;
}

/* messages box */

#messages-container{
    border: #483a5e solid 3px;
    border-radius: 5%;
    height: 80%;
    margin: 20px 10px 10px 10px;
}
#user-messages{
    padding: 15px;
}

#message-button-container{
    padding: 10px 20px 10px 20px;
}

#message-button{
    background-color: #FFF;
    border: 3px solid #483a5e;
}
#message-input{
    border: 3px solid #483a5e;
}

/* Search Group Box */

#search-groups{
    margin: 10px;
}
#search-input{
    background-color: #FFF;
    border: 3px solid #483a5e;
}
#search-btn{
    background-color: #FFF;
    border: 3px solid #483a5e;
}

#show-available-groups{
    border: 3px solid #483a5e;
    border-radius: 1%;
    height: 90%;
    width: 95%;
    margin: 10px;
}

/* chat info pannel */

#message-title{
    display: inline-block;
}
#message-pannel-details{
    display: inline-block;
    padding-left: 38%;
}
#info-pannel-btn{
    background-color: #FFF;
    border: 3px solid #483a5e;
    border-radius: 8%;
    color: black;
}
#offcanvasScrolling{
    background-color: #966AA2;
    border: 5px solid #483a5e;
    width: 29.5%;
}


/* column */
#column-one{
    background-color: #8c5c86;
    margin: 20px 10px 10px 10px;
    width: 27%;
}
#column-two{
    margin: 10px;
    width: 40%;
}
#column-three{
    background-color: #8c5c86;
    margin: 20px 10px 10px 10px;
    width: 27%;
}
#column-four{
    background-color: #8c5c86;
    margin: 10px 10px 20px 10px;
    width: 100%;
    height: 50px;
}
#column-five{
    background-color: #8c5c86;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    height: 800px;
}

#column-container{
    margin-top: 40px;
    margin-bottom: 10px;
}