
body{
    background-color: #483a5e;
}

.row{
    background-color: #8c5ca6;
    color:#608a9a;
    text-align: center;
}

.profileSettings{
    background-color: #8c5ca6;
    color:#608a9a;
    text-align: center;
}

.account{

}

.searchFriends{
    
}